<!DOCTYPE html>
<html lang="en", dir="ltr">
<center>

 <h1> Edit this message </h1>
 <form action="/messages/<%=@message.id%>" method="post">
     <textarea name="message[text]" id="text" rows="10" cols="40"><%= @message.text %></textarea>
     <input type="submit" value="Update">
   </form>
 <br>
