<!DOCTYPE html>
<html lang="en", dir="ltr">
<center>


  <h1> Welcome to the best Messenger App of your life, Ed</h1>
<form action="/board" method='post'>
  <%= erb :text_board %>
</form>

  <% @messages.reverse.each do |message| %>
  <br>
  <br>
  <div>
    <a href = '/messages/<%= message.id %>'> <%= message.preview %></a>
    <br>
    <%= message.created_at %>
      </div>
      <br>
      <% end %>

 </center>
<html>
