<!DOCTYPE html>
<html>
 <head>
  <title>Messenger App</title>
 </head>
<body>
  <h1> Welcome to the Messenger App </h1>
  <form action="/board" method='post'>
    <label for='message'>
      <input type='text' name='message'>
      <input type='submit' value='Submit'>
    </label>
  </form>

 </body>
<html>