<html>
  <head>
      <meta charset="utf-8">
     <title>Messenger App</title>
  </head>
  <body bgcolor="sky blue">
      <%= yield %>
  </body>
  <center>
  <img src="https://scentofagamer.files.wordpress.com/2015/06/forest_avacynrestored_eytanzana.jpg">
  </center>
</html>
